<div ng-controller="adminLoginCtrl">

	<div class="jumbotron text-center">
		Внимание! Сайт находится в тестовом режиме.
	</div>

	<form class="form-signin">

		<h2 class="text-center">Администратор</h2>

		<label for="password" class="sr-only">Password</label>
		<input type="password" id="password" class="form-control" placeholder="Пароль" ng-model="loginInfo.password">

		<button class="btn btn-lg btn-warning btn-block" role="button" ng-click="loginPerson()" ng-disabled="isNotFullLoginInfo()">Войти</button>

		<div class="text-center">
			<a href="#/Login">Вход обычного пользователя системы</a>
		</div>

	</form>

</div>